{#
  Text
  Renders audio player
  
  params: {
    ogg: string
    mpeg: string
  }

  YAML example:
  audio:
      ogg: ""
      mpeg: ""
#}

{% from "page-sections/particles/audio.njk" import audio %}

<div class="audio-wrapper section-inner">
  {{ audio(params) }}
</div>