<div class="header-wrapper js-header">
  <header>
    <div class="container">
      <div class="brand">
        <a class="js-home-link home-link" href="/">
          <span class="sr-only">Go home</span>{% include "../icons/logo-bug.njk" %}
        </a>
      </div>
      <a href="/sandbox" class="button-link primary sandbox-link">Go to Sandbox</a>
      <nav>
        <a class="button-link primary no-hover">Select a Section</a>
        <ul class="section-select">
          {% for item in refData.nav %}
            {% if item.type === "divider" %}
            <li class="divider"></li>
            {% else %}  
            <li class="nav-item">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
    </div>
  </header>
</div>