{#
  renders an icon
  Renders an icon with a caption
  
  params: {
    icon: {
      name: string - name of the feather icon see https://feathericons.com/
      caption: string - caption of the icon
    }

  }

  YAML example:
  icon:
    name: ''
    caption: ''
#}

{% from "page-sections/particles/icon.njk" import icon %}

<div class="icon-wrapper section-inner">
  {{ icon(params) }}
</div>
