<div class="leaflet-wrapper section-inner">
  <div class="map-wrapper leaflet-map js-leaflet-map section-inner">
    <div 
      id="{{ params.leaflet.containerId }}"
      data-latitute="{{ params.leaflet.latitute }}"
      data-longitude="{{ params.leaflet.longitude }}"
      data-zoom="{{ params.leaflet.zoom }}" 
      style="height: {{ params.leaflet.containerHeight }}px; width: 100%;" 
      data-markers="{{ params.leaflet.markers | objToString }}">
    </div>
  </div>
</div>