<script>
  function isStylesheetLoaded(url) {
    return Array.from(document.styleSheets).some(styleSheet => {
      if (styleSheet.href) {
        return styleSheet.href === url;
      }
      return false;
    });
  }

  function loadStylesheet(url, integrity, crossOrigin) {
    if (!isStylesheetLoaded(url)) {
      const link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = url;
      link.integrity = integrity;
      link.crossOrigin = crossOrigin;
      document.head.appendChild(link);
    } else {
      console.log('Stylesheet is already loaded.');
    }
  }

  function loadLeafletScript() {
    return new Promise((resolve, reject) => {
        if (typeof L !== 'undefined') {
            resolve();
            return;
        }

        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.js';
        script.integrity = 'sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=';
        script.crossOrigin = '';

        script.onload = function() {
            resolve();
        };

        script.onerror = function() {
            reject(new Error('Failed to load the Leaflet script.'));
        };

        document.head.appendChild(script);
    });
}
</script>

<style>
  #{{ params.leaflet.containerId }} {
    height: {{ params.leaflet.containerHeight }}px;
    width: 100%;
  }
</style>

<div class="map-wrapper isLeafLet section-inner">
  <div id={{ params.leaflet.containerId }}></div>
</div>

<script>
  loadStylesheet('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css', 'sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=', '');

  loadLeafletScript().then(() => {
    const mapOptions = {
      center: [{{ params.leaflet.centerX }}, {{ params.leaflet.centerY }}],
      zoom: {{ params.leaflet.zoom }},
    };

    const map = new L.map("{{ params.leaflet.containerId }}", mapOptions);

    const layer = new L.TileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png");

    map.addLayer(layer);

  }).catch(error => {
      console.error(error);
  });
</script>