{#
  Lottie animation
  Renders a lottie animation

  Dependency: https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js
  
  params: {
    lottie: {
      src: string
      control: {
        autoplay: boolean
        loop: boolean
      }
    }
  }

  YAML example:
  lottie:
    src: ''
    control:
      autoplay: true
      loop: true
#}

{% from "page-sections/particles/lottie.njk" import lottie %}

<div class="lottie-wrapper section-inner">
  {{ lottie(params) }}
</div>