<div class="sidebar">
  <p><strong>Section Templates</strong></p>
  <ul class="section-templates">
    {% for sectionTemplate in sectionTemplates %}
      <li class="js-template">{{ sectionTemplate }}</li>
    {% endfor %}
  </ul>
</div>