<div class="section-display js-section-display">
  <h1 class="doc-title js-template-title"></h1>
  <div class="doc-content js-template-wrapper"></div>
  <a href="#" class="js-show-code-editor button-link primary">Show Code Editor</a>
  <form class="doc-styles js-additional-styles">
    <div id="editor"></div>
    <input type="submit" value="Apply Style" class="button-link primary">
  </form>
  <div class="props-display js-props-display"></div>
</div>