<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "page-sections/head.njk" %}
  </head>

  <body class="{{ bodyClasses }}" >
    <div id="at-top"></div>
    
    {% include "page-sections/header.njk" %}

    <div class="container">
      <h1 class="page-title">{{ pageTitle }}</h1>
    </div>

    <main id="js-docs-wrapper" class="doc-wrapper">
      {% include "doc-nav.njk" %}
      {% include "doc.njk" %}
    </main>
    
    {% include "page-sections/footer.njk" %}

    <a class="to-top" href="#at-top"><span class="sr-only">Scroll to top</span>{% include "icons/arrow-up-circle.njk" %}</a>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/assets/nunjucksCustomFilters.js"></script>
    <script src="/assets/nunjucks-slim.js"></script>
    <script src="/assets/precompiledTemplates.js"></script>
    <script src="/assets/initialSectionStates.js"></script>
    <script src="/assets/propsTemplates.js"></script>
    <script src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js'></script>
    <script src="/assets/scripts.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.css"></link>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/mode/css/css.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/theme/base16-light.min.css"></link>
    <script type="text/javascript" src="/assets/yaml.js"></script>

  </body>
</html> 