{#
  Text & lottie
  Renders text with an optional CTA and a lottie animation graphic.
  
  params: {
    isReverse: boolean - whether the image should be on the left or right (default)
    hasCta: boolean - whether the text should have a CTA
    text: {
      prefix: string - prefix to the title (optional)
      title: string - title of the blog post (optional)
      header: string - header of the blog post, e.g. "h1", "h2", etc. (optional)
      subtitle: string - subtitle of the blog post (optional)
      prose: string - prose of the blog post (optional)
    }
    ctas: {
      url: "",
      label: "",
      isExternal: true,
      isButton: true,
      buttonStyle: "primary"
    }
    lottie: {
      src: string
      control: {
        autoplay: boolean
        loop: boolean
      }
    }
  }

  YAML example:
  isReverse: false
  hasCta: false
  text:
    prefix: ""
    title: ""
    header: ""
    subtitle: ""
    prose: ""
  ctas:
    - url: ""
      label: ""
      isExternal: true
      isButton: true
      buttonStyle: "primary"
  lottie:
    src: ''
    control:
      autoplay: true
      loop: true
#}

{# build the sections class string #}
{% set sectionClasses = "section-wrapper" %}

{# add user defined section class(es) #}
{% if section.containerFields.containerClass %}
  {% set sectionClasses = sectionClasses ~ " " ~ section.containerFields.containerClass %}
{% endif %}

{% if section.containerFields.inContainer %}
  {% set sectionClasses = sectionClasses ~ " inContainer" %}
{% endif %}

{% if section.containerFields.isNarrow %}
  {% set sectionClasses = sectionClasses ~ " isNarrow" %}
{% endif %}

{% if section.containerFields.isDisabled %}
  {% set sectionClasses = sectionClasses ~ " isDisabled" %}
{% endif %}

{% if section.containerFields.isAnimated %}
  {% set sectionClasses = sectionClasses ~ " isAnimated" %}
{% endif %}

{% if section.containerFields.background.isDark %}
  {% set sectionClasses = sectionClasses ~ " isDark" %}
{% endif %}

{# get the sections id string #}
{% set sectionId = "" %}
{% if section.containerFields.containerId %}
  {% set sectionId = section.containerFields.containerId %}
{% endif %}

{# build the section inline styles string #}
{% set sectionStyles = "" %}
{% if section.containerFields.background.color %}
  {% set sectionStyles = sectionStyles ~ "background-color:" ~ section.containerFields.background.color ~ ";" %}
{% endif %}
{% if section.containerFields.background.image %}
  {% set sectionStyles = sectionStyles ~ "background-image: url(" ~ section.containerFields.background.image ~ ");" %}
{% endif %}

<{{section.container}} 
  class="{{ sectionClasses }}" 
  {% if sectionId %} id="{{ sectionId }}" {% endif %} 
  {% if sectionStyles %} style="{{ sectionStyles }}" {% endif %}
>
  <div class="text-media-wrapper section-inner {% if section.isReverse %}is-reverse{% endif %}">
    
    {% include "sections/particles/text.njk" %}

    {% include "sections/particles/ctas.njk" %}
    
    {% include "sections/particles/lottie.njk" %}
    
  </div>

  </div>
</{{section.container}}>