{#
  Video
  Renders a video either inline or in a modal. Modal videos may be triggered clicking on a thumbnail image
  as provided in this template. However, they can also triggered by a simple text link.
  For example: <a class="js-modal-video" data-videoid="yC_j_dzkaVE" href="">Click here for a video</a>

  
  params: {
    video: {
      title: string - video title (optional)
      inline: boolean - false if video should be rendered in a modal (optional)
      src: string - the video source, for exampple "youtube" (default)
      id: string - video id, for example "v=123456789"
      tn: string - thumbnail image url
      start: string - start time in seconds
      end: string - end time in seconds
    }
  }

  YAML example:
  video:
    title: ""
    inline: ""
    src: ""
    id: ""
    tn: ""
    start: ""
    end: ""
#}


{# build the sections class string #}
{% set sectionClasses = "section-wrapper" %}

{# add user defined section class(es) #}
{% if section.containerFields.containerClass %}
  {% set sectionClasses = sectionClasses ~ " " ~ section.containerFields.containerClass %}
{% endif %}

{% if section.containerFields.inContainer %}
  {% set sectionClasses = sectionClasses ~ " inContainer" %}
{% endif %}

{% if section.containerFields.isNarrow %}
  {% set sectionClasses = sectionClasses ~ " isNarrow" %}
{% endif %}

{% if section.containerFields.isDisabled %}
  {% set sectionClasses = sectionClasses ~ " isDisabled" %}
{% endif %}

{% if section.containerFields.isAnimated %}
  {% set sectionClasses = sectionClasses ~ " isAnimated" %}
{% endif %}

{% if section.containerFields.background.isDark %}
  {% set sectionClasses = sectionClasses ~ " isDark" %}
{% endif %}

{# get the sections id string #}
{% set sectionId = "" %}
{% if section.containerFields.containerId %}
  {% set sectionId = section.containerFields.containerId %}
{% endif %}

{# build the section inline styles string #}
{% set sectionStyles = "" %}
{% if section.containerFields.background.color %}
  {% set sectionStyles = sectionStyles ~ "background-color:" ~ section.containerFields.background.color ~ ";" %}
{% endif %}
{% if section.containerFields.background.image %}
  {% set sectionStyles = sectionStyles ~ "background-image: url(" ~ section.containerFields.background.image ~ ");" %}
{% endif %}

<{{section.container}} 
  class="{{ sectionClasses }}" 
  {% if sectionId %} id="{{ sectionId }}" {% endif %} 
  {% if sectionStyles %} style="{{ sectionStyles }}" {% endif %}
>
  <div class="video-wrapper section-inner">

    {% if section.video.inline %}
      <div class="video inline">
        <div class="inline-video-wrapper js-inline-video-wrapper">
          <div class="close">{% include "icons/x.njk" %}</div>
          <div 
            class="js-inline-video" 
            data-videoid="{{ section.video.id }}" 
            data-starttime="{{ section.video.start }}" 
            data-endtime="{{ section.video.end }}"
          ></div>
        </div>
      
        <button class="video-trigger js-video-trigger">
          <div class="play-button">{% include "icons/play.njk" %}</div>
          <img src="{{ section.video.tn }}" alt="{{ section.video.title }}">
        </button>
      </div>
    {% else %}
      <div class="video" >
        <button 
          class="js-modal-video" 
          data-videoid={{ section.video.id}} 
          data-videosrc={{ section.video.src }}
        >
          <div class="play-button">{% include "icons/play.njk" %}</div>
          <img src="{{ section.video.tn }}" alt="{{ section.video.title }}">
        </button>
      </div>
    {% endif %}

  </div>
</{{section.container}}>