{% set copies = 2 %}

<div class="logos-list-display">
  <div 
    class="marquee" 
    style="
      --list-width: {{ logosListLength ~ "px" }}; 
      --logo-width: {{ logoWidth ~ 'px'}}
    ">
    <div class="logos-wrapper js-logos-wrapper">

      {% for i in range(0, copies) -%}
      <ul class="logos js-logos">
      {% for select in selection %}
        <li class="{% if not select.url %}no-link{% endif %}">
          {% if select.url %}
            <a href="{{ select.url }}">
              <img src="{{ select.image }}" alt="{{ select.title }}" />
            </a>
          {% else %}
            <img src="{{ select.image }}" alt="{{ select.title }}" />
          {% endif %}
        </li>
      {% endfor %}
      </ul>
      {% endfor %}
    </div> <!-- marquee-inner -->
  </div> <!-- marquee -->
</div> <!-- logos-list-display -->