<ul class="simple-list">
  {% for select in selection %}
    <li class="{% if not select.url %}no-link{% endif %}">
      {% if select.url %}
        <a href="{{ select.url }}">{{ select.title }}</a>
      {% else %}
        {{ select.title }}
      {% endif %}
    </li>
  {% endfor %}
</ul>