<div class="lottie">
  <lottie-player 
    src="{{ section.lottie.src }}" 
    background="transparent"  
    speed="1" 
    {% if section.lottie.control.loop %}loop{% endif %} 
    {% if section.lottie.control.autoplay %}autoplay{% endif %}
    ></lottie-player>
  <p class="caption">{{ section.lottie.caption }}</p>
  </div>