{% if section.params.text.prefix %}
  <p class="prefix">{{ section.params.text.prefix }}</p>
{% endif %}

{% if section.params.text.title %}
  {% if section.params.text.header === "h1" %}
    <h1 class="title">{{ section.params.text.title }}</h1>
  {% elif section.params.text.header === "h2" %}
    <h2 class="title">{{ section.params.text.title }}</h2>
  {% else %}
    <h3 class="title">{{ section.params.text.title }}</h3>
  {% endif %}
{% endif %}

{% if section.params.text.subtitle %}
  <p class="sub-title">{{ section.params.text.subtitle }}</p>
{% endif %}

{% if section.params.text.prose %}
  <div class="prose">{{ section.params.text.prose | mdToHTML | safe }}</div>
{% endif %}